In [1]:
import warnings
warnings.filterwarnings('ignore')
import pyodbc as odbc
import pandas as pd

In [2]:
DRIVER = 'SQL Server'
SERVER_NAME = 'DESKTOP-7MLFO65'
DATABASE_NAME = 'PortfolioProjects'

conn_string = f"""
    Driver={{{DRIVER}}};
    Server={SERVER_NAME};
    Database={DATABASE_NAME};
    Trust_Connection=yes;
"""

try:
    conn = odbc.connect(conn_string)
except Exception as e:
    print(e)
    print('task is terminated')
    sys.exit()
else:
    cursor = conn.cursor()

In [4]:
sql = "SELECT * FROM [PortfolioProjects].[dbo].[CovidDeaths]"

In [5]:
df = pd.read_sql_query(sql, conn)
df.head(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,EGY,Africa,Egypt,2020-05-27,19666.0,910.0,776.714,816,19,19.429,...,10550.206,1.3,525.432,17.31,0.2,50.1,89.827,1.60,71.99,0.707
1,EGY,Africa,Egypt,2020-05-28,20793.0,1127.0,827.143,845,29,21.286,...,10550.206,1.3,525.432,17.31,0.2,50.1,89.827,1.60,71.99,0.707
2,EGY,Africa,Egypt,2020-05-29,22082.0,1289.0,899.429,879,34,24.571,...,10550.206,1.3,525.432,17.31,0.2,50.1,89.827,1.60,71.99,0.707
3,EGY,Africa,Egypt,2020-05-30,23449.0,1367.0,990.857,913,34,25.429,...,10550.206,1.3,525.432,17.31,0.2,50.1,89.827,1.60,71.99,0.707
4,EGY,Africa,Egypt,2020-05-31,24985.0,1536.0,1102.857,959,46,27.857,...,10550.206,1.3,525.432,17.31,0.2,50.1,89.827,1.60,71.99,0.707
5,EGY,Africa,Egypt,2020-06-01,26384.0,1399.0,1202.429,1005,46,31.714,...,10550.206,1.3,525.432,17.31,0.2,50.1,89.827,1.60,71.99,0.707
6,EGY,Africa,Egypt,2020-06-02,27536.0,1152.0,1254.286,1052,47,36.429,...,10550.206,1.3,525.432,17.31,0.2,50.1,89.827,1.60,71.99,0.707
7,CHL,South America,Chile,2020-08-18,388855.0,1353.0,1748.429,10546,33,52.571,...,22767.037,1.3,127.993,8.46,34.2,41.5,NaN,2.11,80.18,0.851
8,CHL,South America,Chile,2020-08-19,390037.0,1182.0,1695.571,10578,32,53.286,...,22767.037,1.3,127.993,8.46,34.2,41.5,NaN,2.11,80.18,0.851
9,CHL,South America,Chile,2020-08-20,391849.0,1812.0,1687.857,10671,93,53.143,...,22767.037,1.3,127.993,8.46,34.2,41.5,NaN,2.11,80.18,0.851